@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcu {
    width: 18rem;
    height: 20rem;
    text-align: center;
    border: 20px solid black;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
    font-size: 25px;
    border-radius: 1rem;
}

#display{
    color: white;
    font-size: 20px;
}

#num1::-webkit-outer-spin-button,
#num1::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#num2::-webkit-outer-spin-button,
#num2::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button:hover{
    opacity: 1;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    width: 60px;
    height: 30px;
    opacity: 0.5;
}